body {
  padding: 0;
  max-width: 820px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

section {
    width: 100%;
}

.slideshow {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: red;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: green;
}


/* etv */

#etv-gallery {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;
}

#etv-gallery > video {
    width: 50%;
}


.etv-slideshow-element {
    display: none;
}

.etv-slideshow-element > img {
    width: 100%;
}

.etv-slideshow-element > p {
    color: white;
    background-color: black;
    margin: 8px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* cactus */

#cactus-gallery {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;
    overflow: hidden;
}

.cactus-slideshow-element {
    display: none;
}

.cactus-slideshow-element > img {
    width: 100%;
    height: auto;
}

.cactus-slideshow-element > p {
    color: white;
    background-color: black;
    margin: 8px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#cactus-gallery-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: min-content;
}

#cactus-gallery-right > video {
    flex: 1;
    width: 100%;
    object-fit: cover;
}

#cactus-gallery-right-img {
    flex: 0 1 auto;
    overflow: scroll;
    object-fit: scale-down;
    width: 100%;
}