:root {
    /* spacing */

    --space-sm: 12px;
    --space-md: 24px;
    --space-lg: 38px;

    /* font size */

    --font-xs: 15px;
    --font-sm: 18px;
    --font-md: 20px;
    --font-lg: 24px;

    /* font weight */

    --fontw-light: 300;
    --fontw-med: 500;
    --fontw-semi: 600;

    /* color */

    --black: black;
    --white: white;
}

/* global */

body {
    padding: var(--space-md);
    max-width: 1280px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "Work Sans", sans-serif;
    font-weight: var(--fontw-med);
    font-size: var(--font-sm);
    color: var(--black);
    background-color: var(--white);
}

@media screen and (width >= 760px) {
    body {
        padding: var(--space-lg);
    }
}

/* responsive layouts */

.show-under-760 {
    display: revert;
}

.show-over-760 {
    display: none;
}

.show-under-1025 {
    display: none;
}

.show-over-1025 {
    display: none;
}

@media screen and (width >= 760px) {
    .show-under-760 {
        display: none;
    }

    .show-over-760 {
        display: revert;
    }

    .show-under-1025 {
        display: revert;
    }
}

@media screen and (width >= 1025px) {
    .show-under-1025 {
        display: none;
    }

    .show-over-1025 {
        display: revert;
    }
}

/* projects */

.project {
    display: none;
}