body {
  padding: 0;
  max-width: 820px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Work Sans", sans-serif;
}

section {
    width: 100%;
    height: 650px;
}

.slideshow {
    position: relative;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: red;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: green;
}


/* etv */

#etv-gallery > .slideshow {
    width: 50%;
}

#etv-gallery {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;
}

#etv-gallery > video {
    width: 50%;
}

.etv-slideshow-element {
    display: none;
}

.etv-slideshow-element > img {
    width: 100%;
}

.etv-slideshow-element > p {
    color: white;
    background-color: black;
    margin: 8px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* cactus */

#cactus-gallery {
    height: 100%;
    overflow: hidden;
}

#cactus-gallery > .slideshow {
    width: 100%;
    height: 375px;
}

.cactus-slideshow-element {
    display: none;
    width: 100%;
    height: 100%;
}

#cactus-img-container {
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
}

#cactus-img-container img {
    width: 100%;
    height: auto;
    display: block;
}

.cactus-slideshow-element video {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.cactus-slideshow-element > p {
    color: white;
    background-color: black;
    margin: 8px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}